






<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, 
                   initial-scale=1.0"
    />
    <title>Technicians</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
         <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>

  <body>
    <div class="dashboard-wrapper">
    <!-- for header part -->
   {{>dashboardHeader}}

    <div class="main-container">
     {{>dashboardSidebar}}
      <div class="main">

   
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Our Expert Technicians</h1>
    <a href="/dashboard/addtechnician" class="btn btn-primary">+ Add Technician</a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Expertise</th>
          <th scope="col">Experience (yrs)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each technicians}}
        <tr>
          <td>
            <img src="/{{this.photoUrl}}" width="80" class="img-thumbnail" />
          </td>
          <td>{{this.name}}</td>
          <td>{{this.expertise}}</td>
          <td>{{this.experience}}</td>
          <td>
            <a href="/dashboard/edit/{{this._id}}" class="btn btn-sm btn-warning me-2">Edit</a>
            <form method="POST" action="/dashboard/delete/{{this._id}}?_method=DELETE" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Delete this technician?')">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


 
     <script src="../js/dashboard/script.js"></script>
  </body>
</html>